p=t('Hi {name}', {name: citizenName})
p=t('You have a new reply on you argument')
p!=md('"' + reply.text + '"')
p!=t('Please click <a href="{url}">here</a> to see it', {url: url})
p=t('The DemocracyOS team')